.tt-wrapper {
	width:80%;
}

.twitter-typeahead, .tt-input {
	/*float:left;*/
	width:100%;
}

.tt-menu {
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  margin-top: 12px;
  padding: 8px 0;
  width:100%;
  text-align: left;
 	max-height: 600px;
	overflow-y: auto;
}

.tt-menu .row, .datasets .row {
	margin-right:0px;
	margin-left:0px;
}

.tt-menu a {
	color: #333;
}

.typeahead-header {
	margin: 8px 10px 5px 10px;

	padding: 3px 0;
	border-bottom: 1px solid #ccc;
	font-size:20px;
	font-weight:bold;
}

.tt-suggestion {
  font-size: 16px;
  line-height: 22px;
  margin-top:0px;
  margin-bottom:1px;
}

.result-text {
	margin-left:10px;
}

.empty-message {
	padding-left:10px;
}

.result-button-g {
	margin-right:10px;
}

/*input[type="checkbox"]{
  width: 20px;
  height: 20px;
  cursor:pointer;
}*/

/*.datasets .checkbox {
	margin-bottom: 0px;
	margin-top:-2px;
	margin-right:6px;
}

.datasets .marker_icon {
	width: 25px;
  height: 25px;
  margin-left:6px;
  margin-right:6px;
  margin-top:-2px;
}

.datasets .row {
	margin-bottom: 10px;
}

.dataset-title {
	margin-left:10px;
	line-height: 1.8;
}*/

.source-options {
	padding-top:27px;
padding-left:20px;

}

.row-input-field {
	padding-bottom:20px;
	padding-top:20px;
	border-bottom: 1px solid grey;
	/*width:80%;*/
}

.sparql-search-widget-container {
	margin-top:40px;
	max-width: 750px;
}
